<!DOCTYPE html>

<html ng-app="eleme" perf-error="desktop/home/" class="ng-scope"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}.ng-hide-add-active,.ng-hide-remove{display:block!important;}</style><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}.ng-hide-add-active,.ng-hide-remove{display:block!important;}</style>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    

    <title ng-bind="SEO.title" class="ng-binding">排队号</title>
 
    <meta name="format-detection" content="telephone=no, email=no">


    <meta property="qc:admins" content="2263606250655">

	<link rel="stylesheet" href="${resource(dir: 'css', file: 'vendor.9d73b7.css')}" type="text/css">
	<link rel="stylesheet" href="${resource(dir: 'css', file: 'home.925596.css')}" type="text/css">
    
    <script src="${resource(dir: 'js', file: 'perf.js')}" type="text/javascript"></script>
    <%--<script src="${resource(dir: 'js', file: 'endor.953c61.js')}" type="text/javascript"></script>
    <script src="${resource(dir: 'js', file: 'home.0fad37.js')}" type="text/javascript"></script>

    

    --%><!--<base href="/home/">--><!--<base href=".">--><base href=".">
  <meta name="mobile-agent" content="undefined">
  <meta name="description" content="">
  <meta name="keywords" content="排队号"></head>
  <body ie8wide="" cute-title="" ng-class="{hidesidebar: layoutState &amp;&amp; layoutState.hideSidebar, smallbody: layoutState.smallBody, whitebody: layoutState.whiteBody}" class="hidesidebar smallbody whitebody" ryt14370="1">
  
    <!-- ngView:  --><div ng-view="" role="main" class="ng-scope"><div class="map ng-scope" ng-class="{mapmode: mapMode}"><div class="container"><div class="map-main ng-isolate-scope" ng-class="{mapmode: mapMode}" map-main="" map-mode="mapMode"><h2 class="map-logo"> 排队 无忧
</h2><div class="map-content"></div></div><div class="mapfooter" map-footer=""><div class="mapfooter-app"><div class="mapfooter-app-image"><img src="${resource(dir: 'images', file: '1456991852.png')}" alt="扫码下载 APP"> <span>扫码下载 APP</span></div><div class="mapfooter-app-text"><p>Android 扫码下载</p><strong>轻松</strong><strong class="color-stress">排队</strong><p>ios版 期待中</p></div></div></div></div></div></div>
  
  

</body></html>